<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/site.css">
	</head>
	<body>
		<div id="header">
			<div class="left">HP t5740 home router</div>
			<div class="right"><a href="{{site.baseurl}}/index.html">Home page</a></div>
		</div>
		<div id="content">
			{{content}}
		</div>
		<div id="footer">
			Copyright &copy; 2016, <a href="mailto:david.hovemeyer@gmail.com">David Hovemeyer</a> | All content freely redistributable <a class="cc-img" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="{{site.baseurl}}/img/cc-by-sa-80x15.png"></a>
		</div>
	</body>
</html>

<!--
vim:ts=2:
-->
